[Unit]
Description=irc sedbot
After=sedbot.service

[Service]
Type=simple
WorkingDirectory=/home/bot/sedbot
ExecStart=/home/bot/sedbot/sedbot.bash
Restart=always
RestartSec=5
StartLimitInterval=60s
StartLimitBurst=3

[Install]
WantedBy=default.target

