[Unit]
Description=irc sedbot
After=sedbot.service

[Service]
Type=simple
WorkingDirectory=/home/anton/git/sedbot
ExecStart=/bin/bash sedbot.bash
Restart=always
RestartSec=5
StartLimitInterval=60s
StartLimitBurst=3
User=sedbot
Group=sedbot

[Install]
WantedBy=default.target
